@model IList<NPGeek.Web.Models.Weather>

<script src="~/Content/WeatherConverter.js"></script>


@foreach (var weather in Model)
{
    <div class="weather-image">
        @if (weather.Forecast == "partly cloudy")
        {
            <img src="~/Content/img/weather/partlyCloudy.png" />
        }
        else
        {
            <img src="~/Content/img/weather/@(weather.Forecast).png" />
        }
    </div>
}
<table>
    <tr>
        <th>Temperature</th>
        @foreach (var weather in Model)
        {

            <td>High </td>
            <td>@weather.High</td>
            <td>Low </td>
            <td>@weather.Low</td>

        }
    </tr>
    <tr>
        <th>Temperature</th>
        @foreach (var weather in Model)
        {
            if (weather.Forecast == "snow")
            {
                <td>Pack snow shoes</td>
            }
            else if (weather.Forecast == "rain")
            {
                <td>Pack rain gear and wear waterproof shoes!</td>
            }
            else if (weather.Forecast == "thunderstorms")
            {
                <td>Seek shelter and avoid hiking in exposed ridges!</td>
            }
            else if (weather.Forecast == "sunny")
            {
                <td>Pack and wear sunscreen!</td>
            }
            else if (weather.High > 74)
            {
                <td>Bring an extra gallon of water!</td>
            }
            else if ((weather.High - weather.Low) > 20)
            {
                <td>Be sure to dress in breathable layers!</td>

            }
            else if (weather.Low < 20)
            {
                <td>Be sure to limit exposure to frigid temperatures. Wear layers and be sure to seek shelter.</td>
            }
        }
    </tr>
</table>
<button type="button" id="tempToggle" onclick="btnClick()">Farenheit</button>


