:root {
    --primary: #364156;
    --dark: #011638;
    --light: #CDCDCD;
    --shadow: #DFF8FB;
    --green: #214E34;
}
html {
    font-family: Assistant, sans-serif, Arial;
    color: var(--light);
}
body {
    background-color: var(--dark);
}

header img {
    width: 350px;
    height: auto;
}

.main-nav ul {
    background-color: var(--light);
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
}

nav a{
    text-decoration: none;
    font-size: 2em;
    color:var(--shadow);
    padding:15px;
}
 a{
     color: var(--light);
 }

.parkName-thead{
    font-weight:bold;
}
img{
    display:inline-block;
    padding: 0px 0px 0px 0px;
    float:left;
    margin: 8px;
    width: 400px;
}

.quote-source{
    float: right;
}
.parkGrid {
    display:grid;
    grid-column-start:2;
    grid-column-end:3;
    text-align:right;
}

.detail-container h4{
    text-align: right;

}
.survey-form{
    position:center;
}

    .survey-form img {
        height: 250px;
        width: auto;
        display: inline-block;
        padding: 0px 0px 0px 0px;
        float: right;
        margin-left: 8px;
    }
.parkdetail-box{
    font-weight: bold;
}

.weather-image img {
    grid-row-start: 1;
    height: 100px;
    width: auto;
}
.high-low {
    grid-row-start: 2;
}

.weather-box {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-template-columns:4fr 4fr 4fr 4fr;
}

.weather-details {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
}
.weather-message {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
    float:right;
    margin: 0px;
    word-wrap: normal;
}

.survey-results{
    display: flex;
}

.survey-results > h3{
    padding: 10px;
}
    .survey-results > h5 {
        padding: 10px;
    }

    .survey-results img {
        width: auto;    
    }

#success{
    text-align: center;
}
.foreach{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button{
    float: none;
}
