body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

header img {
    width: auto;
    height: 150px;
}

nav {
    background-color: #46cd4a;
}

nav a{
    text-decoration: none;
    font-size: 2em;
    color:white;
    padding:15px;
}


img{
    display:inline-block;
    padding: 0px 0px 0px 0px;
    float:left;
}

.parkGrid div{
    display:grid;
    grid-column-start:2;
    grid-column-end:3;
    text-align:right;
}


