body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

header img {
    width: auto;
    height: 150px;
}

nav {
    background-color: #46cd4a;
}

nav a{
    text-decoration: none;
    font-size: 2em;
    color:white;
    padding:15px;
}

#temp{
    width:3.2em;
}


