<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Parks Guide</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
</head>

<body>

    <header>
        <img src="~/Content/img/logo.png" />
    </header>
    <nav>
        <h3>@Html.ActionLink("Home", "Index", "Home")
       @Html.ActionLink("Survey", "Survey", "Survey")</h3>
    </nav>

    <section>
        @RenderBody()
    </section>


    
</body>
</html>