<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
</head>

<body>
    <header>
        <img src="~/Content/img/logo.png" alt="NP Geek Logo" />
    </header>
    <nav>
        <ul>
            <li>Home</li>
            <li>Weather</li>
            <li>Survey</li>
            <li>Favorite Parks</li>

            
        </ul>
    </nav>
    <section>
        @RenderBody()
    </section>


</body>
</html>