<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Parks Guide</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
</head>

<body>
    <header>
        <img class="logo" src="~/Content/img/logo.png" />
    </header>
    <div class="nav">
        <h1>@Html.ActionLink("National Parks Guide", "Index", "Home")</h1>
        <p>@Html.ActionLink("Survey", "Survey", "Survey")</p>

    </div>
    <section>
        @RenderBody()
    </section>


    <script src="~/Content/WeatherConverter.js"></script>
</body>
</html>