<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>




<html>
<head>
    <meta charset="UTF-8">
    <title>National Parks Guide</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
</head>

<body>
    <header>
        <img src="~/Content/img/header.png" />
    </header>
    <div class="nav">
        <h1>National Parks Guide</h1>
        <h2>@Html.ActionLink("Home", "Index", "Home")</h2>

    </div>
    <section>
        @RenderBody()
    </section>


</body>
</html>