<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Parks Guide</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
</head>

<body>

    <header>
        <img src="~/Content/img/logo.png" />
    </header>
    <nav class="main-nav">
        <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Survey", "Survey", "Survey")</li>
    </ul>
    </nav>

    <section>
        @RenderBody()
    </section>


    
</body>
</html>