
@{
    ViewBag.Title = "Weather";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NPGeek.Web.Models.Weather

<h2>Weather</h2>

<form method="get" action="@Url.Action("Weather","Weather", new { id = Model.ParkCode },null)">

<p>@model.parkCode</p>
    <p>@model.fiveDayForecastValue</p>



</form>
